// Here you can add other styles
.logo {
  height: 125px;
  width: 160px;
}
.box {
  border-radius: 5px;
  border: 1px solid white;
  font-weight: bold;
}
.item-box {
  background-color: #7d7d7d;
}
.bac {
  background-color: #7d7d7d;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.fs-18 {
  font-size: 18px;
}
.fs-12 {
  font-size: 12px;
}
.fs-8 {
  font-size: 8px;
}
.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.font-600 {
  font-weight: 600;
}
.font-500 {
  font-weight: 500;
}
.font-400 {
  font-weight: 400;
}
.bg-grey {
  background-color: green;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.text-time {
  color: #446698;
  font-size: 30px;
}
.text-timefinish {
  color: #c79c07;
  font-size: 30px;
}
.text-timeback {
  color: #0f9e95;
  font-size: 30px;
}

$tablet: "(min-width: 375px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
.border-card {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 30px;
}
.box-border-left {
  @media #{$tablet} {
    border-radius: 20px;
    padding: 10px;
  }

  @media #{$desktop} {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.box-border-right {
  @media #{$tablet} {
    border-radius: 10px;
  }

  @media #{$desktop} {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.progressa {
  @media #{$tablet} {
    width: 50px;
  }

  @media #{$desktop} {
    width: 100px;
  }
}

.coupon {
  background-color: #7d8d9d;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 0;
  @media #{$tablet} {
    font-size: 12px;
  }

  @media #{$desktop} {
    font-size: 16px;
  }
}

.service-coupon {
  @extend .coupon;
  background-color: #ffc329;
  font-weight: 500;
}
.service-payment {
  @extend .coupon;
  background-color: #d2d2d2;
  font-weight: 500;
}
.dot-custom {
  height: 21px;
  width: 21px;
  top: -5px;
  position: absolute;
}

.text-tab {
  @media #{$tablet} {
    display: none;
  }
}
.text-dk {
  @media #{$tablet} {
    display: none;
  }
}

.image-new {
  @media #{$tablet} {
    width: 100px;
    height: 100px;
  }

  @media #{$desktop} {
    width: 200px;
    height: 200px;
  }
}
.infor-new {
  font-weight: 600;
  @media #{$tablet} {
    .content {
      font-size: 12px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: red;
      // width: 250px;
      // height: 100px;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }

  @media #{$desktop} {
    font-size: 18px;
    .content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.icon-sidebar {
  width: 15px;
  height: 16px;
  margin-left: 2px;
  margin-right: 22px;
}
.process {
  @media #{$tablet} {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: black;
  }

  @media #{$desktop} {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
}
/*Cart Voucher */
.cart {
  @media #{$desktop} {
    margin-right: 100px;
    margin-left: 100px;
  }
}
.space-voucher {
  @media #{$desktop} {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
  }
}
.banner {
  @media #{$tablet} {
    width: 100%;
    object-fit: scale-down;
  }

  @media #{$desktop} {
    margin-right: 50px;
    margin-left: 50px;

    width: 100%;
    // height: 400px;
  }
}
.voucher-img {
  border: 2px solid #fff;
  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;
}

.bottom-left {
  width: 200;
  position: absolute;
  top: 30px;
  left: 62px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.voucher-title {
  height: 15;
  background-color: #ffc329;
  color: black;
}
.old-price {
  text-decoration: line-through;
}
.new-price {
  color: #ea0027;
  font-size: 20px;
  font-weight: 600;
}
.button-buy {
  background-color: #1b1b1b;
  color: white;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media #{$tablet} {
  .title-page {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 120px;
  }
}
