// todo: disabled button styles
button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}

// .c-sidebar-brand .d-md-down-none  {
//   background-color: yellow !important;
// }
.c-sidebar .c-sidebar-brand {
  background-color: #ffc329 !important;
  // height: 100vh !important;
  // padding:45px 34px !important;
}

.c-sidebar-nav {
  background-color: #313131 !important;
}

// .c-sidebar-minimizer {
//   background-color: #313131 !important;
//   display: none;
// }

.c-sidebar .c-sidebar-minimizer {
  display: none;
}

.c-sidebar .c-sidebar-nav-link:hover {
  background-color: black;
}

$tablet: "(min-width: 375px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.ant-progress-outer {
  @media #{$tablet} {
    width: 50px !important;
  }

  @media #{$desktop} {
    width: 200px !important;
  }
}
.bg-secondary {
  background-color: grey !important;
}
// .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
//   background: #58C8C5 !important;
// }
.ant-steps {
  @media #{$tablet} {
    display: block !important;
  }
}
// .ant-steps-dot .ant-steps-item {
//   left: 2px;
//   width: 20px;
//   height: 20px;
//   top: -5px;
// }
.ant-steps-icon-dot {
  top: -5px;
  width: 21px !important;
  height: 21px !important;
  background-color: #58c8c5 !important;
}
.ant-steps-item-title {
  margin-top: 5px !important;
}
.ant-tabs-ink-bar {
  background: #ffc329 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
  font-weight: 500;
}
.container-fluid {
  @media #{$tablet} {
    padding: 0;
  }
}
.c-sidebar .c-sidebar-nav-link.c-active {
  background: black !important;
  color: #ffc329;
}

@media #{$tablet} {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
    position: relative;
    display: flex;
    transition: transform 0.3s;
    /* width: 100%; */
    width: 500px;
  }

  .ant-tabs-tab  {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    outline: none;
    width: 50%;
    cursor: pointer;
    // .ant-tabs-tab-active {
    //   background: red !important;
    //   color: red !important;
    // }
  }
  .c-wrapper:not(.c-wrapper-fluid) .c-header-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFB800;
  }
  
  .c-header .c-header-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  // .ant-tabs-nav .ant-tabs-ink-bar {
  //   display: none;
  // }
}
